.header {
	z-index: 20;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
    background: url('images/vitaccesslogosmall.png') #fff no-repeat center;
	border-bottom: 1px solid #eaeaea;
}

.ui-page{
	padding-top: 60px;
}

.ui-slider .ui-btn {
    background-color: #3eafa7;
    background-image: linear-gradient(#3eafa7,#3eafa7);
    border-color: #3eafa7;
}


.ui-slider .ui-slider-input {
    color: #3eafa7;
}

.ui-slider .ui-btn:hover {
    background-color: #6d6e71;
    background-image: linear-gradient(#6d6e71,#6d6e71);
    border-color: #6d6e71;
}

.ui-slider .ui-btn-active {
    background-color: #d7df21;
    background-image: linear-gradient(#d7df21, #d7df21);
    border-color: #d7df21;
}			